th {
	padding-left: 1em;
	padding-right: 1em;
}

th:hover {
	cursor: pointer;
	color: blue;
}

.disp-none {
	display: none;
}

.pagenation {
	margin-top: 1em;
	margin-left: 10em;
	/* display: flex;
  justify-content: center; */
}

.pagenation a {
	margin-right: 0.7em;
	color:black;
	text-decoration: none;
}

#errorMessage {
	color: red;
}

#revisedMessage {
	color: red;
}

/* table {
	width: 100%;
} */
/* .right_side {
	display: flex;
	justify-content: flex-end
} */